*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.clearfix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: table;
}

.header{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("images/main-bcg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: relative;
    

}
.banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
       
}
.banner-subtitle{
    font-size: 2rem;
    color: green;
    animation: slideFromRight 5s ease-in-out 1;
    font-family: 'Satisfy', cursive;
    
}
.banner-title{
    margin-top: 1.5rem;
    letter-spacing: 0.5rem;
    font-size: 4.5rem;
    animation: slideFromLeft 5s ease-in-out 1;
    color: white;
}

.four-btn,.main-btn,.banner-btn{
    display: inline-block;
    text-transform: capitalize;
    margin-top: 1.5rem;
    font-size: 35px;
    background: #698f3f;
    text-decoration: none;
    outline: 5px #698f3f solid;
    padding: 0.8rem 1.2rem;
    outline-offset: 7px;
    cursor: pointer;
    color: white;

}

/* Section three */

.three{
    padding: 2rem 0;
    padding-bottom: 4rem;
}

.img{
    width: 100%;
    display: block;
    transition:  all 0.3s ease-in-out;
    max-height: 100%;
    min-height: 100%; 


}
.img-container{
    border: solid #698f3f 10px;
    max-width: 85%;
    border-radius: 20px;
    display:block;
    margin-left: 10%;
    margin-top: 2rem;
}
.three-text{
    
    font-size: 1.2rem;
    word-spacing: 0.5rem;
}
.section-subtitle{
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    color: #698f3f;
    padding-left: 10%;
    padding-top: 2rem;
    
}

.section-title{
    text-transform: capitalize;
    padding-left: 10%;
    padding-top: 0.6rem;
}
.about-text{
    margin-bottom: 2rem;
    /*margin-top: 1rem;
    margin-left: 4rem;*/
    padding-left: 10%;
}
.main-btn{
    transform: translateX(30%);
}
@media screen and (min-width: 992px){
    .three-img,.three-text{
        float: left;
        width: 50%;
        

    }
    .three{
        margin-bottom: 25rem;
    }
    
}

/* Section three Ends*/

/* Section Four */

.four{
    background: rgb(85, 83, 83);
    max-width: 100%;
    display:block;

}
.product{
    margin-left: 10%;
}
.product-img{
    max-width: 90%;
    border: rgb(24, 23, 23) solid 5px;
    border-radius: 20px;
    
}
.product-title{
    text-transform: capitalize;
    font-size: 2rem;
    color: white;
    letter-spacing: 2px;

}
.product-price{
    color: #698f3f;
    font-size: 1.5rem;
    padding-top: 1.2rem;
    padding-bottom: 1.5rem;
}
.four-info{
    font-size: 1.2rem;
    word-spacing: 0.5rem;
    
}

.four-title{
    font-family: 'Satisfy', cursive;
    font-size: 2.5rem;
    color: #698f3f;
    margin-left: 10%;
    margin-top: rem;
}
.four-subtitle{
    text-transform: capitalize;
    margin-left: 10%;
    margin-top: 0.2rem;
    color: whitesmoke;
}
.four-text{
    margin-bottom: 2rem;
    /*margin-top: 1rem;
    margin-left: 4rem;*/
    margin-left: 10%;
    margin-top: 2rem;
}
.four-btn{
    transform: translateX(35%);
    margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px){
    .four-info,.product{
        float: left;
        padding-top: 5%;
        
    }
    .product{
        margin-left: 0;
        width: 20%;
    }
    .four-info{
        margin-left: 2%;
        padding-right: 7rem;
        width: 35%;
    }
 
}
@media screen and (min-width: 992px) {
    .four-info{
        float: none;
        padding-top: 5%;
        
    }
    .product{
        margin-left: 0;
        width: 40%;
        float: left;
        padding-top: 5%;
        margin-left: 10%
    }
    .four-info{
        margin-left: 2%;
        padding-right: 7rem;
        width: 50%;
    }
    
    
  }
  @media screen and (min-width: 1200px) {
    .four-info,.product{
        float: left;
        padding-top: 5%;
        
    }
    .product{
        margin-left: 0;
        width: 20%;
    }
    .four-info{
        margin-left: 2%;
        padding-right: 7rem;
        width: 35%;
    }
}
/*SECTION_FIVE STARTS HERE*/
.five{
    display: inline-block;

}
.five-info{
    text-align: center;
    font-size: 2.5rem;
    margin: 4rem;
}
.five-product{
    margin-left: 3rem;
    margin-top: 2rem;
    border: 1px solid white;
    outline: 0.3rem #698f3f  solid;
    outline-offset: 0rem;
    border-radius: 2rem;
    max-width: 80%;
    background: #698f3f;

}
.five-image{
    max-width: 100%;
    max-height: 50%;
    border: 1px solid wheat;
    border-radius: 2rem;
    
}
.five-bottom{
    text-align: center;
    font-size: 1.5rem;
    padding: 1.5rem 0;
}
.five-button{
    margin-top: 1rem;
    width: 8rem;
    height: 3rem;
    border: solid 0.1rem;
    border-radius: 0.2rem;
}

.five-title{
    font-family: 'Satisfy', cursive;
    color: #698f3f;
}

@media screen and (min-width: 768px){
    .five-product{
        float: left;
        width: 25%;
        
    }
    .five-product-section-container{
        margin-left: 10%;
    }
 
}
/*Section 5 ends here*/
.contact{
    margin-top: 2px;
}
.contact-info{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 10%;

}
.contact-text{
    font-size: 1.5rem;
    font-family: cursive;
    color: #698f3f;
}
.adress-text{
    margin-bottom: 2rem;
}
.contact-form{
    margin-left: 10%;
    margin-top: 2rem;

}

.Email{
    display: block;
}

@media screen and (min-width: 768px){
    .contact-info,.contact-form{
        float: left;
        width: 40%;
    }
 
}
